src/maldact/__pycache__/
src/maldact/ui/__pycache__/
src/maldact/backend/__pycache__/
src/maldact/tests/__pycache__/
src/maldact/tests/test_backend/__pycache__/
.idea/
src/maldact/tests/.pytest_cache/
/src/maldact/data/
